<div id=section_title>Browse Vehicles</div>
<div id=browse_tree_container>

</div>
<div id=search_vehicle_type>Search Vehicles</div>
<% if user_signed_in? %>
  <div id=std_link>Add a new vehicle</div>
<% end %>
