<div id="og_title">Open Garage's</div>
<div id="home_title">Signal Explorer</div>

<div id="search_vehicle_type">Search Vehicle Type</div>
<div id="std_link"><%= link_to 'Browse Vehicles', browse_path %></div>
<div id="std_link"><%= link_to 'View Stats', stats_path %></div>
